# Data Loader

Script to read in CSV files and export to PostgreSQL.

In [1]:
#Not all these dependencies are needed to load the data, but these are good for notebook analysis

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sqlalchemy import create_engine

pd.set_option('max_columns', 500)

In [2]:
def importer(path):
    '''Reads in and formats CSV accordingly'''
    df = pd.read_csv(path)
    
    return df

path = './StateEthicsReport.csv'

campaign = importer(path)

In [3]:
campaign.head()

,FilerID,Type,LastName,FirstName,Address,City,State,Zip,PAC,Occupation,Employer,Date,Election,Election_Year,Cash_Amount,In_Kind_Amount,In_Kind_Description,Candidate_FirstName,Candidate_MiddleName,Candidate_LastName,Candidate_Suffix,Committee_Name
0,C2017000285,Monetary,Arford-Tasker,Nancy,9175 SW Arrow Wood Dr,Portland,OR,97223-7265,NaN,Retired,Retired,8/30/2018 12:00:00 AM,General,2018,10.0,0.0,NaN,Stacey,Yvonne,Abrams,NaN,Stacy Abrams for Governor
1,C2017000285,Monetary,Arias,L. Patricia,2112 Chesterfield Dr NE,Atlanta,GA,30345-3706,NaN,Attorney,"Orange Business Services US, Inc.",8/10/2018 12:00:00 AM,General,2018,15.0,0.0,NaN,Stacey,Yvonne,Abrams,NaN,Stacy Abrams for Governor
2,C2017000285,Monetary,Anderson,Ann S,2002 Amberley Dr,Evans,GA,30809-6752,NaN,Not Employed,Not Employed,7/14/2018 12:00:00 AM,General,2018,125.0,0.0,NaN,Stacey,Yvonne,Abrams,NaN,Stacy Abrams for Governor
3,C2017000285,Monetary,Anderson,Carol,2418 Boulder Rd SE,Atlanta,GA,30316-3673,NaN,Professor,Emory University,7/20/2018 12:00:00 AM,General,2018,50.0,0.0,NaN,Stacey,Yvonne,Abrams,NaN,Stacy Abrams for Governor
4,C2017000285,Monetary,Anderson,Joseph,2646 Nakai Trl,Flagstaff,AZ,86005-3660,NaN,College Professor,Northern Ariz university,9/26/2018 12:00:00 AM,General,2018,250.0,0.0,NaN,Stacey,Yvonne,Abrams,NaN,Stacy Abrams for Governor

In [4]:
def id_maker(df, col_name, identity_fields, base_number=1000000000):
    '''Read in DataFrame and a list of fields used to identify an entity. Assign a number to those fields.'''
    
    match_table = df[identity_fields].drop_duplicates().copy()
    match_table[col_name] = np.arange(base_number, base_number+len(match_table))
    
    df = pd.merge(df,
                  match_table,
                  on=identity_fields,
                  how='left')
    
    return df[col_name]



#id_check = id_maker(df = campaign, col_name = 'ContributorId', identity_fields = ['LastName', 'FirstName', 'Zip', 'Address'])

In [5]:
def contributor(df, key_col='ContributorId'):
    '''Parse and prep contributor info from the database. Contributor schema:
    
    ContributorId
    LastName
    FirstName
    Address1
    Address2
    City
    State
    Zip
    PAC
    Occupation
    Employer'''
    
    contributor = df.copy() #copy dataframe so as not to impact the data in the original location
    
    #Prepare dataframe to use same fields as in schema
    contributor_fields = ['ContributorId', 'LastName', 'FirstName', 'Address1', 'Address2',
                          'City', 'State', 'Zip', 'PAC', 'Occupation', 'Employer']
    
    contributor[key_col] = id_maker(df=contributor, 
                                    col_name=key_col, 
                                    identity_fields=['LastName', 'FirstName', 'Address', 'Zip'])
    
    contributor['Address1'] = contributor['Address']
    contributor['Address2'] = np.nan
    
    contributor = contributor[contributor_fields].drop_duplicates(subset=['ContributorId']).reset_index(drop=True)
    
    return contributor

In [6]:
contributors = contributor(campaign)

In [7]:
#Builds the key to connect with Postgres Database using sqlalchemy and pandas. password can be string of choice, make sure you preserve the punctuation in each string
file = open('getin.txt')
driver = 'postgresql+pg8000://'
user = 'postgres:'
pwd = file.read()
host = '@db'
database = '/electionmoney'

key = driver + user + pwd + host + database
key

'postgresql+pg8000://postgres:pw@db/electionmoney'

In [8]:
#Establish the connection using the key

from sqlalchemy import create_engine
engine = create_engine(key)
connection = engine.connect()

In [9]:
connection

In [10]:
contributors.to_sql('Contributor', connection, if_exists='append', index=False) #send the table, appending rows that already exist rather than deleting and replacing

In [11]:
pd.read_sql('Contributor', connection) #readout of the data from the SQL database

,ContributorId,LastName,FirstName,Address1,Address2,City,State,Zip,PAC,Occupation,Employer
0,1000000000,Arford-Tasker,Nancy,9175 SW Arrow Wood Dr,NaN,Portland,OR,97223-7265,NaN,Retired,Retired
1,1000000001,Arias,L. Patricia,2112 Chesterfield Dr NE,NaN,Atlanta,GA,30345-3706,NaN,Attorney,"Orange Business Services US, Inc."
2,1000000002,Anderson,Ann S,2002 Amberley Dr,NaN,Evans,GA,30809-6752,NaN,Not Employed,Not Employed
3,1000000003,Anderson,Carol,2418 Boulder Rd SE,NaN,Atlanta,GA,30316-3673,NaN,Professor,Emory University
4,1000000004,Anderson,Joseph,2646 Nakai Trl,NaN,Flagstaff,AZ,86005-3660,NaN,College Professor,Northern Ariz university
5,1000000005,Anderson,Lee,50 Yacht Cove Dr,NaN,Hilton Head Island,SC,29928-1518,NaN,Retired,Retired
6,1000000006,Appleby,Elizabeth P.,68 Maple Ave NW,NaN,Marietta,GA,30064-2220,NaN,Retired,None
7,1000000007,Applegate,Mary,1207 Ridge Ave N,NaN,Tifton,GA,31794-3955,NaN,Not Employed,Not Employed
8,1000000008,Arce,Ellen,PO box 588,NaN,Marshfield,MA,02050-0588,NaN,pharmacist,Cognosante LLC
9,1000000009,Archer,Kimberly,863 Forest Ridge Dr SE,NaN,Marietta,GA,30067-7176,NaN,Systems analyst,Secureworks inc.
10,1000000010,Archuleta,Latika,6997 Glen Cove Ln,NaN,Stone Mountain,GA,30087-6312,NaN,Real Estate Broker,RE
11,1000000011,Arians,Christine,133 Southlook Ln,NaN,Eatonton,GA,31024-5413,NaN,Not Employed,Not Employed
12,1000000012,Ariza,Carlos,211 Lakestone Pkwy,NaN,Woodstock,GA,30188-5425,NaN,IT Service Manager,General Motors
13,1000000013,Arkin,Michaelle,223 Westchester Dr,NaN,Decatur,GA,30030-1119,NaN,Not Employed,Not Employed
14,1000000014,Armand,Karen M,123 Mockingbird Ln,NaN,Decatur,GA,30030-1160,NaN,Retired RN,None
15,1000000015,Armstrong,Shannon,1160 Sandstone Dr,NaN,Vail,CO,81657-4408,NaN,Not Employed,Not Employed
16,1000000016,Arnold,Mark,1126 N Highland Ave NE,NaN,Atlanta,GA,30306-3494,NaN,Founder,Gotham Media Corporation
17,1000000017,Ashburg,Calvin E.,5181 Manitou Way,NaN,Stone Mountain,GA,30087-4263,NaN,Retired,Retired
18,1000000018,Ashburne,Michael,539 Summit Dr,NaN,Pinole,CA,94564-1640,NaN,Attorney,Self
19,1000000019,Adams,Rick,234 Pine Dr,NaN,Pine Mountain,GA,31822-2336,NaN,Retired,Retired
20,1000000020,Adams,V. Toni,1002 Martin Luther King Dr,NaN,Hayward,CA,94541-4307,NaN,Not Employed,Not Employed
21,1000000021,Adams-Pickett,Donna,1420 Aylesbury Dr,NaN,Evans,GA,30809-8215,NaN,Physician,Self
22,1000000022,Addison,Albert D.,475 10th Ave NW,NaN,Cairo,GA,39828-1952,NaN,Not Employed,Not Employed
23,1000000023,Aderhold,Susan,1981 Wellbourne Dr NE,NaN,Atlanta,GA,30324-4903,NaN,Information Requested,Information Requested
24,1000000024,Adler,David,1011 Blue Beech Pointe,NaN,Athens,GA,30606-7616,NaN,Writer,Self
25,1000000025,Aferiat,Paul,126 5th Ave,NaN,New York,NY,10011-5606,NaN,architect,self
26,1000000026,AFGE Political Action Committee,None,80 F St NW,NaN,Washington,DC,20001-1528,NaN,None,None
27,1000000027,Albrecht,Martha L,2833 Plaza Amarilla,NaN,Santa Fe,NM,87507-6507,NaN,Not employed,Not employed
28,1000000028,Aldenderfer,Charles,555 Sun Valley Dr,NaN,Roswell,GA,30076-5625,NaN,C.P.A.,The Aldenderfer Group P.C.
29,1000000029,Alemanne,Nicole,2615 NW 52nd Ave,NaN,Gainesville,FL,32605-6210,NaN,Educator,Unitarian Universalist Fellowship of Gainesville
...,...,...,...,...,...,...,...,...,...,...,...
15358,1000015358,Robbins,Richard K.,1120 Nye St,NaN,San Rafael,CA,94901-2946,NaN,Owner,WAREHAM
15359,1000015359,Roberson,Stephanie,1829 Buckhead Ln NE,NaN,Atlanta,GA,30324-6103,NaN,physician,N. Metro Radiology
15360,1000015360,Robert,Christine,5601 Park Oak Pl,NaN,Los Angeles,CA,90068-2545,NaN,Not Employed,Not Employed
15361,1000015361,Roberts,Chelsea,77 W 126th St,NaN,New York,NY,10027-3981,NaN,Health care fundraising/investing,Mount Sinai Health System
15362,1000015362,Roberts,William,166 W Ridge Way,NaN,Roswell,GA,30076-6422,NaN,President,Bill Roberts Electrical inc.
15363,1000015363,Skellie,Fred,2303 Dancing Fox Rd,NaN,Decatur,GA,30032-7418,NaN,Not Employed,Not Employed
15364,1000015364,Smith,Andrea,7033 Bennington Woods Dr,NaN,Pittsburgh,PA,15237-6371,NaN,attorney,UPMC Health System
15365,1000015365,Smith,Branden,2 Gold St,NaN,New York,NY,10038-4853,NaN,Senior Data Engineer,Publicis Media
15366,1000015366,Robinson,Karen E.,230 Palmita Pl,NaN,Mountain View,CA,94041-1328,NaN,Product Manager,TangiblePS
15367,1000015367,Robinson,Sophie,61 Stratham Heights Rd,NaN,Stratham,NH,03885-2547,NaN,Student,Student
15368,1000015368,Pickett,Elmer,1420 Aylesbury Dr,NaN,Evans,GA,30809-8215,NaN,Administration,Augusta Women's Health
15369,1000015369,Planer,Mindy,1299 N Morningside Dr NE,NaN,Atlanta,GA,30306-3336,NaN,attorney,Arnall Golden Gregory
15370,1000015370,Sassard,Jacqueline B,34 Berkeley Rd,NaN,Charleston,SC,29407-7420,NaN,Not Employed,Not Employed
15371,1000015371,SassenVanElsloo,Saskia,37 Washington Sq W,NaN,New York,NY,10011-9181,NaN,Professor,Columbia
15372,1000015372,Saunders,Elaine,3101 New Mexico Ave NW,NaN,Washington,DC,20016-5916,NaN,Sales Director,Simpli.fi
15373,1000015373,Russo,Tiffany,5647 Old Chester Rd,NaN,Bethesda,MD,20814-1035,NaN,attorney,verizon
15374,1000015374,Rutcofsky,Emily,175 W 12th St,NaN,New York,NY,10011-8275,NaN,Lawyer,Milbank Tweed Hadley &McCloy
15375,1000015375,Ross,Donata R.,275 13th St NE,NaN,Atlanta,GA,30309-5505,NaN,CEO,Concessions International LLC
15376,1000015376,Ross,Patricia A.,56 Laurel Dr NE,NaN,Atlanta,GA,30342-4102,NaN,Retired,Not Employed
15377,1000015377,Ross-Jones,Lisa,2991 Cadbury Trl,NaN,Snellville,GA,30039-7051,NaN,Information needed,Information needed
15378,1000015378,Rosser,Brian,104 Jackson St,NaN,Calhoun,GA,30701-2038,NaN,Candidate,Georgia HD5
15379,1000015379,Regas,Diane,616 The Alameda,NaN,Berkeley,CA,94707-1602,NaN,CEO,TPL
15380,1000015380,Reibstein,Karen,6322 Camino Corto,NaN,San Diego,CA,92120-3108,NaN,Not Employed,Not Employed
15381,1000015381,Reinish,James,336 Central Park W,NaN,New York,NY,10025-7107,NaN,art dealer,self
15382,1000015382,Robbins,Peter,49 8th Ave,NaN,Brooklyn,NY,11217-3901,NaN,Real Estate Manager,Robbins Agency
15383,1000015383,Roberts,Julie,816 S Clarizz Blvd,NaN,Bloomington,IN,47401-5518,NaN,art gallery director,Ivy Tech Community College of Indiana
15384,1000015384,Roberts,Shannon,218 Woods Rd,NaN,Glenside,PA,19038-1431,NaN,Geologist,Stantec Consulting Services
15385,1000015385,Robinson,Brian,PO Box 100,NaN,Flat Rock,NC,28731-0100,NaN,Performing Artist,Self
15386,1000015386,Resurgent Left,None,770 S Grand Ave,NaN,Los Angeles,CA,90017-3957,NaN,None,None
15387,1000015387,Reynolds,Veatrice,1041 Daventry Xing,NaN,Woodstock,GA,30188-7137,NaN,Supervisor,State Farm Insurance Company